$background: #f5f5f4;
$background-darken: darken($background, 5%);

$fillet-brown: #b56b4e;
$fillet-brown-darken: darken($fillet-brown, 10%);

$white: #fff;
$dark: #777879;

$primary: #308da5;
$secondary: #daeaef;

$active: #b56b4e;
