.LoginView {
  &__logged {
    display: flex;
    flex-direction: column;
    gap: px(16);
    margin: 0 auto;
    max-width: vw(20);
    padding: 0 px(20);

    p {
      @include font-size(18);

      span {
        font-weight: 700;
      }
    }
  }
}
